<div id="<%= dom_id customer %>">
  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= customer.username %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= customer.password_digest %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= customer.address %>
  </p>

  <p>
    <strong>Province:</strong>
    <%= customer.province_id %>
  </p>

</div>
