<div id="<%= dom_id customer %>">

  <div class="block">
    <br>
    <p class="title is-5"><%= customer.name %></p>
  </div>

  <p>
    <strong>Username:</strong>
    <%= customer.username %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= customer.password_digest %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= customer.address %>
  </p>

  <p>
    <strong>Province:</strong>
    <%= customer.province.name %>
  </p>

</div>
