<%= form_with(model: customer) do |form| %>

  <%# display errors %>
  <% if customer.errors.any? %>
    <div style="color: red">
      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class:"label" %>
    <%= form.text_field :name, class:"input" %>
  </div>

  <div class="mb-3">
    <%= form.label :username, class:"label" %>
    <%= form.text_field :username, class:"input" %>
  </div>

  <div class="mb-3">
    <%= form.label :password_digest, class:"label" %>
    <%= form.text_field :password_digest, class:"input" %>
  </div>

  <div class="mb-3">
    <%= form.label :address, class:"label" %>
    <%= form.text_field :address, class:"input" %>
  </div>


    <div class="mb-6">
      <%= form.label :province_id, "Province", class: "label" %>
      <div class="select">
        <% if purpose == "update"%>
          <%= form.select :province_id, options_from_collection_for_select(Province.all, 'id', 'code', customer.province.id)%>
        <% elsif purpose == "create" %>
          <%= form.select :province_id, options_from_collection_for_select(Province.all, 'id', 'code'), prompt: "select province" %>
        <% end %>
      </div>
    </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
