<p style="color: green"><%= notice %></p>

<h1 class="title">Customers Index</h1>

<div class="block">
  <p class="button"><%= link_to "Add New Customer", new_customer_path %> </p>
  <p class="mt-3">There are <strong><%= Customer.count%></strong> customers in the database. </p>
</div>

<table class="table is-striped">
  <tr>
    <th>ID</th>
    <th>name</th>
    <th>address</th>
    <th>province</th>
    <th>username</th>
    <th>password digest</th>
    <th>NumOfOrders</th>
    <th></th>
    <th></th>
  </tr>

  <% @customers.reverse.each do |c|%>
    <tr>
      <td><%=c.id%></td>
      <td><%=link_to c.name, customer_path(c.id)%></td>
      <td><%=c.address%></td>
      <td><%=c.province.name%></td>
      <td><%=c.username %></td>
      <td><%=c.password_digest.truncate(8)%></td>
      <td class="has-text-centered"><%= link_to Order.where(customer_id: c.id).count, customer_path(c.id) %></td>
      <td><%= link_to "EDIT", edit_customer_path(c.id) %></td>
      <td><%= link_to "DELETE", customer_path(c.id), data: { turbo_method: :delete, turbo_confirm: "Delete #{c.name}?" }, class: "button is-small" %></td>
    </tr>
  <% end %>

</table>


