<p style="color: green"><%= notice %></p>

<%# render @customer %>
<%= render partial: 'customer',
            locals: {purpose: "read", customer: @customer} %>

<br>
<% unless @customer.orders.blank?%>
  <p class="title is-5 my-1">Orders</p>
  <% @customer.orders.each do |o| %>
    <p>
      <%= link_to o.id, order_path(o.id), class:"mr-3" %> <%= o.created_at %>
    </p>
  <% end %>
<% end %>

<div>
  <br>
  <%= link_to "Update Address", edit_customer_path(@customer) %>
  <%#= link_to "Back to Customers Index", customers_path %>
  <br>
  <br>
  <%= button_to "Delete Account", @customer, method: :delete %>
</div>
