<%= form_with(model: order) do |form| %>

  <% if order.errors.any? %>
    <div style="color: red">
      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :customer_id, class:"label" %>
    <div class="select">
    <% if session[:customer_id].nil? %>
      <%= form.select :customer_id, options_from_collection_for_select(Customer.all, 'id', 'name')%>
    <% else %>
      <%= form.select :customer_id, options_from_collection_for_select(Customer.all, 'id', 'name', @customer.id)%>
    <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :payment_id, "Payment ID", class:"label" %>
    <%= form.text_field :payment_id, value:rand(111111..999999), class:"input" %>
  </div>

  <div class="mb-3">
    <%= form.label :status, class:"label"  %>
    <div class="select">
      <%= form.select :status, options_for_select(%w[Pending Paid Shipped], "Pending"), prompt:"select status"%>
    </div>
  </div>

  <div class="mb-3">
    <% if session[:customer_id].nil? %>
      <%= form.label :GST, "GST", class:"label" %>
      <%= form.select :GST, options_from_collection_for_select(Province.select(:GST).distinct, 'GST','GST'), prompt: ""%>
    <% else %>
      <%= form.label :GST, "#{@customer.province.name} GST", class:"label" %>
      <%= form.select :GST, options_from_collection_for_select(Province.select(:GST).distinct, 'GST','GST', @customer.province.GST)%>
    <% end %>
  </div>

  <div class="mb-3">
    <% if session[:customer_id].nil? %>
      <%= form.label :PST, "PST", class:"label" %>
      <%= form.select :PST, options_from_collection_for_select(Province.select(:PST).distinct, 'PST','PST'), prompt: ""%>
    <% else %>
      <%= form.label :PST, "#{@customer.province.name} PST", class:"label" %>
      <%= form.select :PST, options_from_collection_for_select(Province.select(:PST).distinct, 'PST','PST', @customer.province.PST)%>
    <% end %>
  </div>

  <div class="mb-3">
    <% if session[:customer_id].nil? %>
      <%= form.label :HST, "HST", class:"label" %>
      <%= form.select :HST, options_from_collection_for_select(Province.select(:HST).distinct, 'HST','HST'), prompt: ""%>
    <% else %>
      <%= form.label :HST, "#{@customer.province.name} HST", class:"label" %>
      <%= form.select :HST, options_from_collection_for_select(Province.select(:HST).distinct, 'HST','HST', @customer.province.HST)%>
    <% end %>
  </div>

  <div>
    <%= form.submit class:"button is-outlined is-light is-success" %>
  </div>
<% end %>
