<%= order.inspect %>
<div id="<%= dom_id order %>">
  <p>
    <strong>Customer:</strong>
    <%= link_to order.customer.name, order.customer %>
  </p>

  <p>
    <strong>Payment ID:</strong>
    <%= order.payment_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>GST:</strong>
    <%= order.GST %>
  </p>

  <p>
    <strong>PST:</strong>
    <%= order.PST %>
  </p>

  <p>
    <strong>HST:</strong>
    <%= order.HST %>
  </p>

</div>
