<p style="color: green"><%= notice %></p>

<h1 class="title">Orders</h1>

<%#= link_to "New order", new_order_path, class:"button" %>

<table class="table is-striped">
<tr>
  <th>Order ID</th>
  <th>Status</th>
  <th>Transaction Date</th>
  <th>Payment ID</th>
  <th>Customer</th>
  <th>GST</th>
  <th>PST</th>
  <th>HST</th>
  <th></th>
  <th></th>
</tr>
  <% @orders.each do |o|%>
    <tr>
      <td><%=link_to o.id, order_path(o.id)%></td>
      <td>
        <%= form_with(model: o) do |form| %>
          <div class="select is-small">
            <%= form.select :status, options_for_select(%w[Pending Paid Shipped], "#{o.status}"), prompt:"select status"%>
          </div>
          <%= form.submit "update status" , class:"button is-small is-inline"%>
        <% end %>
      </td>
      <td><%= o.created_at.strftime('%m/%d/%Y %H:%M') %></td>
      <td><%= o.payment_id %></td>
      <td><%= link_to o.customer.name, o.customer %></td>
      <% unless o.GST == 0 %>
        <td class="has-text-centered"><%= number_to_percentage o.GST, precision:0 %></td>
      <% else %>
        <td class="has-text-centered">-</td>
      <% end %>
      <% unless o.PST == 0 %>
        <td class="has-text-centered"><%= number_to_percentage o.PST, precision:0 %></td>
      <% else %>
        <td class="has-text-centered">-</td>
      <% end %>
      <% unless o.HST == 0 %>
        <td class="has-text-centered"><%= number_to_percentage o.HST, precision:0 %></td>
      <% else %>
        <td class="has-text-centered">-</td>
      <% end %>
      <td><%= link_to "EDIT", edit_order_path(o.id) %></td>
      <td><%= link_to "DELETE", order_path(o.id), data: { turbo_method: :delete, turbo_confirm: "Delete?" }, class: "button is-small" %></td>
    </tr>
<% end %>

</table>