<%= form_with(model: @order) do |form| %>

  <div class="mb-3">
    <%= form.label :customer_id, class:"label" %>
    <div class="select">
      <%= form.select :customer_id, options_from_collection_for_select(Customer.all, 'id', 'name', @customer.name), prompt: "select customer"%>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :payment_id, "Payment ID", class:"label" %>
    <%= form.text_field :payment_id, value:rand(111111..999999), class:"input" %>
  </div>

  <div class="mb-3">
    <%= form.label :status, class:"label"  %>
    <div class="select">
      <%= form.select :status, options_for_select(%w[Pending Paid Shipped], "Pending"), prompt:"select status"%>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :GST, "GST", class:"label" %>
    <%= form.select :GST, options_from_collection_for_select(Province.all, 'GST','GST')%>

  </div>

  <div class="mb-3">
    <%= form.label :PST, "PST", class:"label" %>
    <%= form.select :PST, options_from_collection_for_select(Province.all, 'PST','PST')%>
  </div>

  <div class="mb-3">
    <%= form.label :HST, "HST", class:"label" %>
    <%= form.select :HST, options_from_collection_for_select(Province.all, 'HST','HST')%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
