<h1 class="title">New Order</h1>
<h3 class="title is-4">Order Review</h3>

<% unless session[:customer_id].nil? %>
  <div class="mb-3">
    <h2 class="title is-6 mb-0">Confirm Shipping Address:</h2>
    <p class="has-text-weight-bold"><%= @customer.name%></p>
    <p><%= @customer.address%></p>
    <p><%= @customer.province.name%></p>
    <p class="mt-2 mb-3">Not your address? <%= link_to "Update Address", edit_customer_path(@customer) %></p>
  </div>
<% else %>
  <div class="block">
    <p>Already have an account? <%= link_to "Log In", show_login_form_path %></p>
    <p><%= link_to "Sign Up", new_customer_path %> to save your shipping information.</p>
  </div>
<% end %>

<%# cart contents %>
<%= render "products/cart_contents", show_taxes: true %>
<%= link_to "Clear Cart", clear_cart_path, class:"button is-danger is-light is-outlined" %></p>


<%= render "form", order: @order %>