<p style="color: green"><%= notice %></p>

<%= render @order %>

<div>
  <%= link_to "Edit this Order", edit_order_path(@order) %> |
  <%= link_to "Back to Orders", orders_path %>

  <%= button_to "Destroy this Order", @order, method: :delete %>
</div>
