<p style="color: green"><%= notice %></p>

<%# render @order %>

<div>
  <p>
    <strong>Customer:  </strong>
    <%= link_to @order.customer.name, @order.customer %>
  </p>

  <p>
    <strong>Order ID:  </strong>
    <%= @order.id %>
  </p>

  <p>
    <strong>Payment ID:  </strong>
    <%= @order.payment_id %>
  </p>
  <p>
    <strong>Status:  </strong>
    <%= @order.status %>
  </p>

  <br>

  <p>
    <strong>GST:  </strong>
    <%= @order.GST %>
  </p>

  <p>
    <strong>PST:  </strong>
    <%= @order.PST %>
  </p>

  <p>
    <strong>HST:  </strong>
    <%= @order.HST %>
  </p>

  <br>
</div>

<table class="table is-striped">
  <thead>
    <th>Product</th>
    <th>Quantity</th>
    <th>Unit Price</th>
  </thead>


  <% @order_products.each do |op| %>
    <tr>
      <td><%= op.product.name %></td>
      <td><%= op.qty %></td>
      <td><%= number_to_currency op.price/100.0 %> </td>
    </tr>
  <% end %>

</table>
