<%= form_with(model: product_category) do |form| %>

  <% if product_category.errors.any? %>
    <div style="color: red">
      <ul>
        <% product_category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table is-striped">
    <tr>
      <th>Product</th>
      <th>Category</th>
      <th></th>
    </tr>
      <tr>
        <td>
          <div class="select">
            <%= form.select :product_id, options_from_collection_for_select(Product.all, 'id', 'name'), prompt: "select product"%>
          </div>
        </td>
        <td>
          <div class="select">
            <%= form.select :category_id, options_from_collection_for_select(Category.all, 'id', 'name'), prompt: "select category"%>
          </div>
        </td>
        <td>
          <%= form.button "Create ProductCategory", class:"button" %>
        </td>
      </tr>
  </table>

<% end %>


