<p style="color: green"><%= notice %></p>

<h1 class="title">Product Categories</h1>

<div id="product_categories">
  <table class="table is-striped">
    <tr>
      <th>Product</th>
      <th>Category</th>
    </tr>
    <% @product_categories.each do |pc|%>
      <tr>
        <td><%= link_to pc.product.name, pc.product %></td>
        <td><%= link_to pc.category.name, pc.category %></td>
        <td><%= button_to "Delete", pc, method: :delete %></td>
      </tr>
    <% end %>
  </table>
</div>

<br>
<%= render "form", product_category: @product_category %>

