<%= form_with(model: province) do |form| %>
  <% if province.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(province.errors.count, "error") %> prohibited this Province from being saved:</h2>

      <ul>
        <% province.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2 class="title is-4"><%= province.name %></h2>

  <div>
    <%= form.label :GST, "GST", style: "display: block" %>
    <%= form.text_field :GST %>
  </div>

  <div>
    <%= form.label :PST, "PST", style: "display: block" %>
    <%= form.text_field :PST %>
  </div>

  <div>
    <%= form.label :HST, "HST", style: "display: block" %>
    <%= form.text_field :HST %>
  </div>

  <div>
    <%= form.submit "Update Tax Rates" %>
  </div>
<% end %>
