<%= form_with(model: province) do |form| %>
  <% if province.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(province.errors.count, "error") %> prohibited this province from being saved:</h2>

      <ul>
        <% province.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :code, style: "display: block" %>
    <%= form.text_field :code %>
  </div>

  <div>
    <%= form.label :GST, style: "display: block" %>
    <%= form.text_field :GST %>
  </div>

  <div>
    <%= form.label :PST, style: "display: block" %>
    <%= form.text_field :PST %>
  </div>

  <div>
    <%= form.label :HST, style: "display: block" %>
    <%= form.text_field :HST %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
