<div id="<%= dom_id province %>">
  <p>
    <strong>Name:</strong>
    <%= province.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= province.code %>
  </p>

  <p>
    <strong>GST:</strong>
    <%= province.GST %>
  </p>

  <p>
    <strong>PST:</strong>
    <%= province.PST %>
  </p>

  <p>
    <strong>HST:</strong>
    <%= province.HST %>
  </p>

</div>
