<%= form_with(model: product) do |form| %>

  <% if product.errors.any? %>
    <div style="color: red">
      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <p class="title is-4"><%= product.name %></p>
  </div>

  <div class="mb-3">
    <%= form.label :description, class:"label" %>
    <%= form.text_area :description, class:"textarea" %>
  </div>

  <div class="mb-3">
    <%= form.label :price, class:"label" %>
    $<%= form.number_field :price, value: product.price.to_i/100.00 %>
  </div>

  <div class="mb-3">
    <%= form.label :category, "Add Another Category", class:"label" %>
    <div class="select">
      <%= form.select :category, options_from_collection_for_select(Category.all,'id','name'), prompt:"select category"%>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
