<div class="" id="<%# dom_id product %>">

  <% if show_page %>
    <p class="title is-5"><%= product.name %></p>
  <% else %>
    <p class="title is-5"><%= link_to product.name, product %></p>
  <% end %>

  <%# card tags %>
  <% product.categories.each do |c| %>
    <span class="tag is-link is-light is-rounded block"><%= c.name %></span>
  <% end %>
  <br>

  <p><%= product.description %></p>

  <p>
    <strong>Price:</strong>
    <%= number_to_currency product.price.to_i/100.0 %>
  </p>

</div>
