<h1 class="title is-2">About Us</h1>

<div class="column is-8">
    <p>Nestled in the southwest corner of charming downtown Canmore, crust & crumb offers a wide selection of baked fresh daily breads and pastries. The bakery features sourdough leavened loaves and a variety of weekly baker's choice specials. crust & crumb partners with local producers to source the freshest and highest quality milled grains, eggs, fruit preserves, and veggies. </p>
</div>

<div id="picbanner" class="column is-7 is-flex is-justify-content-space-between my-5">
    <%= image_tag "pexels-life-of-pix-9095.jpg", size:100 %>
    <%= image_tag "jonathan-pielmayer-j1gr2w10EtQ-unsplash.jpg", size:100 %>
    <%= image_tag "brands-people-yHjcZCaiKFY-unsplash.jpg", size:100 %>
    <%= image_tag "bermix-studio-8tQ7rBFgPu8-unsplash.jpg", size:100 %>
    <%= image_tag "mae-mu-Emhz3miT6mo-unsplash.jpg", size:100 %>
</div>

<div class="is-flex">
    <div class="content mx-6">
        <h4 class="title is-5">mainstay loaves</h4>
        <ul>
            <li>rustic sourdough</li>
            <li>flax & pepitas</li>
            <li>jalepe&ntilde;o cheddar</li>
            <li>cracked rye</li>
            <li>multigrain</li>
        </ul>
    </div>

    <div class="content mx-6">
        <h4 class="title is-5">weekly specials</h4>
        <ul>
            <li>loaf</li>
            <li>cookie</li>
            <!-- <li>loaf</li> -->
            <li>hand pie</li>
            <li>gallette</li>
            <li>baker's choice</li>
        </ul>
    </div>
</div>
