<p style="color: green"><%= notice %></p>

<h1 class="title has-text-centered">Products</h1>


<div class="is-flex is-flex-direction-column is-align-items-center">
  <%# display cart contents %>
  <%= render "cart_contents", show_taxes: false %>

  <%# display checkout button %>
  <div class="block is-flex">
    <% unless @cart_contents.empty?%>
      <% if session[:customer_id].nil? %>
        <%= link_to "Checkout", show_login_form_path, class:"button mr-4 is-success is-light is-outlined" %></p>
      <% else %>
        <%= link_to "Checkout", checkout_path, class:"button mr-4 is-success is-light is-outlined" %></p>
      <% end %>
      <%= link_to "Clear Cart", clear_cart_path, class:"button is-danger is-light is-outlined" %></p>
    <% end %>
  </div>
</div>

<%# display products %>
<%#= link_to "New product", new_product_path, class:"button" %>
<div class="columns is-multiline my-5 is-justify-content-center" id="products">
  <% @products.each do |product| %>
    <%# render product %>
    <%= render partial: 'product',
          locals: {show_page: false, product: product} %>
  <% end %>
</div>