<div class="specials is-flex is-flex-direction-column is-align-items-center is-justify-content-center">

  <div class="row">
      <h1 class="title mb-5">Weekly Specials</h1>
  </div>

  <div class="row my-4">
      <div class="weekly is-flex is-justify-content-center is-align-items-center">
          <h2 class="is-flex is-justify-content-end pr-3">loaf</h2>
          <%= image_tag "products/leiliane-fagundes-0sTX2h8FpXk-unsplash.jpg", size:"150" %>
          <%# <img class="special" src="assets/images/products/leiliane-fagundes-0sTX2h8FpXk-unsplash.jpg" alt="chocolate cherry hazelnut loaf"> %>
          <div class="weeklyRow column pl-3">
              <h3>chocolate cherry hazelnut</h3>
              <p style="max-width: 380px;">Cozy up to this dense loaf with decadent chocolate chunks and the nutty crunch of toasted hazelnuts. Enjoy toasted with a pat of melted butter.</p>
          </div>
      </div>
  </div>

  <div class="row my-4">
      <div class="weekly is-flex is-justify-content-center is-align-items-center">
          <h2 class="is-flex is-justify-content-end pr-3">cookie</h2>
          <%= image_tag "products/biscuits-g8f2a0c828_640.jpg", size:"150" %>
          <%# <img class="special" src="assets/images/products/biscuits-g8f2a0c828_640.jpg" alt="lemon crinkle cookie"> %>
          <div class="weeklyRow column pl-3">
              <h3>lemon crinkle</h3>
              <p style="max-width: 380px;">A soft chewy center zippy with lemon tang hides beneath the crackly, sugar dusted crust.</p>
          </div>
      </div>
  </div>


  <div class="row my-4">
      <div class="weekly is-flex is-justify-content-center is-align-items-center">
          <h2 class="is-flex is-justify-content-end pr-3">hand pie</h2>
          <%= image_tag "products/Blackberry-Hand-Pies-8.jpg", size:"150" %>
          <%# <img class="special" src="assets/images/products/Blackberry-Hand-Pies-8.jpg" alt="blackberry hand pie"> %>
          <div class="weeklyRow column pl-3">
              <h3>blackberry</h3>
              <p style="max-width: 380px;">The pop tart of your dreams. This week's hand pie is bursting with blackberry preserves and drizzled with blackberry icing.</p>
          </div>
      </div>
  </div>


  <div class="row my-4">
      <div class="weekly is-flex is-justify-content-center is-align-items-center">
          <h2 class="is-flex is-justify-content-end pr-3">galette</h2>
          <%= image_tag "products/jane-yokata-ZNtT8W11HFQ-unsplashcrop.jpg", size:"150" %>
          <%# <img class="special" src="assets/images/products/jane-yokata-ZNtT8W11HFQ-unsplashcrop.jpg" alt="blueberry peach galette"> %>
          <div class="weeklyRow column pl-3">
              <h3>blueberry peach</h3>
              <p style="max-width: 380px;">Preserved peaches and blueberries from last summer's harvest will have you dreaming of a fragrant summer breeze.</p>
          </div>
      </div>
  </div>

  <div class="row my-4">
      <div class="weekly is-flex is-justify-content-center is-align-items-center">
          <h2 class="is-flex is-justify-content-end pr-3">baker's choice</h2>
          <%= image_tag "products/lecoquin-foods-74u78crHyeI-unsplashcrop.jpg", size:"150" %>
          <%# <img class="special" src="assets/images/products/lecoquin-foods-74u78crHyeI-unsplashcrop.jpg" alt="parm spinach spiral"> %>
          <div class="weeklyRow column pl-3">
              <h3>parm spinach spiral</h3>
              <p style="max-width: 380px;">Tender spinach is punctuated with sharp cheesy notes of parmigiano reggiano in this savoury pastry.</p>
          </div>
      </div>
  </div>
</div>