<%= form_with(model: order_product) do |form| %>

  <% if order_product.errors.any? %>
    <div style="color: red">
      <ul>
        <% order_product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="mb-3">
    <%= form.label :order_id, "Order ID", class:"label" %>
    <div class="select">
      <%= form.select :order_id, options_from_collection_for_select(Order.all, 'id', 'id'), prompt: "select order"%>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :product_id, "Product", class:"label" %>
    <div class="select">
      <%= form.select :product_id, options_from_collection_for_select(Product.all, 'id', 'name'), prompt: "select product"%>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :qty, "QTY", class:"label" %>
    <div class="select">
      <%= form.select :qty, options_for_select(1..99)%>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :price, "Unit Price", class:"label" %>
    <div class="select">
      <%= form.select :price, options_from_collection_for_select(Product.all, 'price', 'price'), prompt: "select price"%>
    </div>  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
