<div id="<%= dom_id order_product %>">
  <p>
    <strong>Order:</strong>
    <%= order_product.order_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= order_product.product_id %>
  </p>

  <p>
    <strong>Qty:</strong>
    <%= order_product.qty %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= order_product.price %>
  </p>

</div>
