<div id="hero">
  <a href="<%= root_path %>">
    <p>crust <span>&</span> crumb</p>
  </a>
</div>

<nav class="navbar is-primary">
  <%= link_to "Home", root_path, :class=>"navbar-item" %>
  <%= link_to "About", about_path, :class=>"navbar-item" %>
  <%# link_to "Contact Us", contact_path, :class=>"navbar-item" %>
  <%# link_to "Admin", admin_root_path, :class=>"navbar-item" %>

  <%# display number of items in cart %>
  <% if session[:cart].present? %>
    <%= link_to "Checkout [#{session[:cart].values.sum}]", checkout_path, :class=>"navbar-item" %>
  <% end %>

  <%# Display customer, if signed in %>
  <% unless session[:customer_id].nil? %>
    <p class="navbar-item ml-6 mr-2"><%= "Welcome, #{Customer.find_by(id: session[:customer_id]).name}"%></p>
    <%= button_to "Log Out", logout_path, method: :delete, :class=>" navbar-item button is-small mt-3" %>
  <% else %>
    <%= link_to "Login", show_login_form_path, :class=>"navbar-item" %>
    <%= link_to "Sign Up", new_customer_path, :class=>"navbar-item" %>
  <% end %>

</nav>

<nav class="navbar is-warning">
    <%= link_to "Products Collection", products_path, :class=>"navbar-item" %>
    <%= link_to "Categories Collection", categories_path, :class=>"navbar-item" %>
    <%= link_to "Provinces Collection", provinces_path, :class=>"navbar-item" %>
    <%= link_to "Customers Collection", customers_path, :class=>"navbar-item" %>
    <%= link_to "Orders Collection", orders_path, :class=>"navbar-item" %>
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">JoinTables</a>
      <div class="navbar-dropdown">
        <%= link_to "ProductCategories", product_categories_path, :class=>"navbar-item" %>
        <%= link_to "OrderProducts", order_products_path, :class=>"navbar-item" %>
      </div>
    </div>
</nav>




